<footer class="footer">
	<div class="rights">
		<span>© Broxus 2017-2022</span>
		<a class="terms" href="https://broxus.com/privacy">Privacy</a>
		<a class="terms" href="https://broxus.com/tos">Terms of Use</a>
	</div>
</footer>
{{> footer-scripts }}
