<header class="header">
  <nav class="navbar">
    <button class="navbar-burger sidr-toggle">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
      </svg>
    </button>
    <div class="navbar-logo">
      <a href="{{@root.site.url}}">
        <svg width="209px" height="24px" viewBox="0 0 209 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="home-[TBD]" transform="translate(-360.000000, -26.000000)">
              <g id="navbar" transform="translate(299.000000, 0.000000)">
                <g id="Group-5" transform="translate(61.000000, 26.000000)">
                  <g id="Group-7-Copy-4" transform="translate(0.000000,24.000000) scale(0.0085000,-0.00850000)"
                    fill="#000000" stroke="none">
                    <path d="M1280 2794 c-360 -43 -625 -168 -866 -408 -408 -409 -524 -1003 -298
                    -1538 125 -295 385 -566 677 -708 193 -92 379 -134 607 -134 173 0 285 17 435
                    66 381 123 712 431 859 798 249 623 33 1325 -522 1694 -160 106 -316 170 -507
                    207 -96 19 -312 32 -385 23z m-494 -492 c46 -24 95 -73 120 -122 26 -50 32
                    -218 10 -291 -20 -70 -75 -135 -140 -165 -47 -22 -64 -24 -218 -24 -145 0
                    -168 2 -168 15 0 9 11 26 24 38 294 271 423 393 420 398 -2 4 -46 39 -99 78
                    -112 85 -121 106 -41 98 29 -3 71 -14 92 -25z m894 -3 c176 -27 346 -108 473
                    -228 37 -35 66 -65 64 -67 -2 -2 -59 -8 -128 -14 -306 -27 -548 -122 -782
                    -308 -80 -63 -192 -192 -239 -274 -18 -32 -41 -72 -51 -89 -9 -16 -22 -27 -27
                    -24 -6 4 -10 166 -10 440 l0 434 53 29 c28 17 91 44 138 60 75 27 119 35 274
                    56 38 5 150 -2 235 -15z m641 -421 c60 -94 94 -181 115 -298 14 -77 18 -160 9
                    -160 -3 0 -22 7 -43 16 -392 166 -904 129 -1247 -90 -30 -20 -58 -36 -60 -36
                    -10 0 34 76 78 135 218 294 609 480 1013 484 l102 1 33 -52z m-231 -423 c100
                    -15 216 -49 313 -92 50 -23 57 -29 57 -55 0 -68 -41 -222 -83 -308 -16 -34
                    -88 -150 -93 -150 -2 0 -17 27 -33 60 -42 85 -80 136 -153 206 -109 105 -221
                    165 -374 200 -143 33 -362 20 -503 -30 -24 -9 -46 -16 -50 -16 -14 1 38 34
                    109 69 161 81 298 116 520 135 62 5 177 -3 290 -19z m-1114 -242 c-3 -10 -8
                    -30 -12 -46 -3 -15 -14 -32 -24 -37 -25 -14 -270 -13 -270 0 0 22 34 62 69 80
                    28 15 58 19 139 20 94 0 103 -2 98 -17z m1221 -340 c41 -79 39 -88 -24 -149
                    -80 -75 -184 -139 -300 -182 -97 -36 -99 -36 -258 -36 -154 -1 -163 1 -242 30
                    -45 17 -108 46 -140 65 -57 34 -233 198 -233 218 0 6 28 -12 63 -40 78 -65
                    239 -143 337 -165 109 -24 274 -22 374 5 115 31 224 93 303 172 37 37 73 79
                    80 93 8 14 15 26 17 26 2 0 13 -17 23 -37z"/>
                    </g>
                  <path d="M172.76828,17.9512764 C170.154155,17.9512764
                    168.343063,16.0160804 168.343063,13.2931055
                    C168.343063,10.553005 170.154155,8.60068342
                    172.665765,8.60068342 C174.528115,8.60068342
                    175.51909,9.79947739 175.792463,10.2618693
                    L175.894978,10.2618693 L175.894978,4.88442211
                    L177.244754,4.88442211 L177.244754,17.7286432
                    L175.946235,17.7286432 L175.946235,16.3243417
                    L175.84372,16.3243417 C175.621605,16.6497286
                    174.698973,17.9512764 172.76828,17.9512764 Z
                    M172.853709,16.7353568 C174.784402,16.7353568
                    175.946235,15.159799 175.946235,13.2931055
                    C175.946235,11.1010251 174.579372,9.83372864
                    172.819537,9.83372864 C170.991359,9.83372864
                    169.727011,11.2722814 169.727011,13.2931055
                    C169.727011,15.3824322 170.991359,16.7353568
                    172.853709,16.7353568 Z M184.412555,17.9512764
                    C181.747174,17.9512764 179.782309,15.9818291
                    179.782309,13.2759799 C179.782309,10.5872563
                    181.781345,8.60068342 184.429641,8.60068342
                    C187.112109,8.60068342 189.059888,10.6043819
                    189.059888,13.2759799 C189.059888,15.9475779
                    187.077937,17.9512764 184.412555,17.9512764 Z
                    M184.412555,16.7182312 C186.326163,16.7182312
                    187.675939,15.2625528 187.675939,13.2759799
                    C187.675939,11.3065327 186.326163,9.83372864
                    184.412555,9.83372864 C182.498948,9.83372864
                    181.166257,11.3236583 181.166257,13.2759799
                    C181.166257,15.2796784 182.516034,16.7182312
                    184.412555,16.7182312 Z M195.646772,17.9512764
                    C192.964305,17.9512764 191.084869,15.9133266
                    191.084869,13.2759799 C191.084869,10.6386332
                    193.015562,8.60068342 195.629686,8.60068342
                    C197.56038,8.60068342 199.354386,9.76522613
                    199.832788,11.751799 L198.431754,11.751799
                    C198.072953,10.5872563 196.945292,9.83372864
                    195.663858,9.83372864 C193.767336,9.83372864
                    192.485903,11.3407839 192.485903,13.2759799
                    C192.485903,15.2796784 193.83568,16.7182312
                    195.69803,16.7182312 C196.979463,16.7182312
                    198.12421,15.9647035 198.465926,14.8001608
                    L199.849874,14.8001608 C199.388558,16.7867337
                    197.577465,17.9512764 195.646772,17.9512764 Z
                    M205.497041,17.9512764 C203.39549,17.9512764
                    202.199485,16.8038593 202.045713,15.1426734
                    L203.361318,15.1426734 C203.51509,16.2044623
                    204.266865,16.769608 205.565384,16.769608
                    C206.898075,16.769608 207.632763,16.1188342
                    207.632763,15.2111759 C207.632763,12.7108342
                    202.319086,14.6117789 202.319086,11.0838995
                    C202.319086,9.57684422 203.668862,8.60068342
                    205.531212,8.60068342 C207.171447,8.60068342
                    208.53831,9.55971859 208.674996,11.1695276
                    L207.376477,11.1695276 C207.256876,10.3303719
                    206.624702,9.76522613 205.445784,9.76522613
                    C204.335208,9.76522613 203.617605,10.3132462
                    203.617605,11.0838995 C203.617605,13.3444824
                    208.948368,11.4606633 208.948368,15.1426734
                    C208.948368,16.8209849 207.56442,17.9512764
                    205.497041,17.9512764 Z" id="docs" fill="#282846" fill-rule="nonzero" opacity="0.9"></path>
                    <g>
                      <text xml:space="preserve" font-weight="400" style="stroke:none;stroke-width:1;stroke-dasharray:none;stroke-linecap:butt;stroke-dashoffset:0;stroke-linejoin:miter;stroke-miterlimit:4;fill:#000;fill-rule:nonzero;opacity:1;white-space:pre"
                      transform="translate(130 0) scale(1.5)"><tspan x="-48.7" y="12.57">TIP-3</tspan></text>
                    </g>
                 
                  <polygon id="|-copy-5" fill="#282846" fill-rule="nonzero" opacity="0.9" points="161.433483 18.0904523 160.27506
                    18.0904523 160.27506 5.7127744 161.433483 5.7127744"></polygon>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </a>
    </div>

    <div id="search-field" class="navbar-search">
      <input class="navbar-search-input" id="search-input" type="text" placeholder="{{#if (eq @root.page.component.name "ROOT")}}Search{{else}}Search {{@root.page.component.title}}{{/if}}">
      {{#unless (eq @root.page.component.name "ROOT")}}
      <input class="navbar-search-filter" type="checkbox" data-facet-filter="component:{{page.component.name}}" checked>
      {{/unless}}
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="https://github.com/broxus">GitHub</a>
      {{!-- <a class="navbar-item" href="https://forum.openzeppelin.com">Forum</a>
      <a class="navbar-item" href="https://blog.openzeppelin.com">Blog</a> --}}
      <a class="navbar-item" href="https://broxus.com">Website</a>
    </div>
  </nav>
</header>
